.backgroundImage {
    background:none;
    height:0;
}

.Backdrop {
    width:100%;
    height:100%;
    background: linear-gradient(227deg, #264d86, #bb5e88);
    /* background: rgb(187,94,136);
    background: radial-gradient(circle, rgba(187,94,136,1) 25%, rgba(38,77,134,1) 100%);} */
}

.BuildControls {
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow:  0 2px 1px #ccc;
    margin:10px auto;
    padding: 10px 0;
    border-radius: 25px;
    text-transform: uppercase;
    font-size:16px;
    z-index:500;
    /* box-sizing:border-box; */
}

.Price {
    font-size: 20px;
    color:rgb(105, 113, 123);
}
.OrderButton {
    background-color: #53709a ;
    outline: none;
    cursor: pointer;
    /* border: 1px solid #966909; */
    color: white;
    font-family: inherit;
    font-size: 1em;
    padding: 10px 20px;
    border:1px solid #2e5b9e;
    margin-top: 15px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #264d86;
    color: white;
}

.OrderButton:disabled {
    background-color: rgb(99, 135, 189);
    cursor: not-allowed;
    color: white;
    
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width:500px) {
    .backgroundImage{
        background-color:#F2F2F2;
        background-position: center;
        background-size: cover;
        height:470px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .BuildControls {
        width: 50%;
    }
}