.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-size: 20px;
    text-transform: none;
}

.BuildControl button {
    display: block;
    font: inherit;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
    outline: none;
    /* remove button border */
    padding: 0;
    border:none;
    background:none;
}

.BuildControl button:disabled {
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    cursor: not-allowed;
}

/* .BuildControl button:hover:disabled> {

} */


.Label {
    padding: 20px;
    width: 100px;
    text-align: center;
    color: #716e6e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .BuildControl .Less {  
    background-color: ;
    color: white;
}

.BuildControl .More {
    background-color: ;
    color: white;
} */

/* .BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #A61E08;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #A6BF49;
    color: white;
} */