.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.Button:first-of-type {
    margin-left: 0;
    /* padding-left: 0; */
}

.Success {
    background-color: #53709a;
    color: white;
}

.Success:hover {
    background-color: #465f83;
}

.Danger {
    background-color:#bb5e88;
    color:white;
}

.Danger:hover {
    background-color: #b15981;
}

.Button:disabled {
    background-color:#8bb2ea;
    /* color:#ccc; */
    cursor: not-allowed;
    color: white;
}

.Danger:disabled {
    background-color:#d62977;
}
