.OrderSummary {
    color: rgb(105, 113, 123);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.OrderSummary h3 {
    text-transform: uppercase;
    font-family: 'Open Sans';
}

.OrderSummary button{
    font-family: 'Open Sans';
}